.AddButton {
  display: flex;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  position: fixed;
}

.date {
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.description {
  max-height: 100px;
  overflow-y: auto;
}
